* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: burlywood;
    height: 500px;
    width: 300px;
    display: grid;
    grid-template-rows: 1.5fr 1.5fr 2fr 1fr;
    grid-template-areas:
        'settings-break'
        'settings-session'
        'timer'
        'buttons';
}

/* BREAK SETTINGS SECTION */
#settings-break {
    grid-area: settings-break;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'break-label break-label break-label'
        'break-decrement break-length break-increment';
    justify-items: center;
    align-items: center;
}

#break-label {
    grid-area: break-label;
}
#break-length {
    grid-area: break-length;
}
#break-decrement {
    grid-area: break-decrement;
}
#break-increment {
    grid-area: break-increment;
}

/* SESSION SETTINGS SECTION */

#settings-session {
    grid-area: settings-session;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'session-label session-label session-label'
        'session-decrement session-length session-increment';
    justify-items: center;
    align-items: center;
}

#session-label {
    grid-area: session-label;
}
#session-length {
    grid-area: session-length;
}
#session-decrement {
    grid-area: session-decrement;
}
#session-increment {
    grid-area: session-increment;
}

/* TIMER SECTION */
#timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

/* BUTTONS */

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

#buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#reset,
#start_stop {
    grid-area: buttons;
}
