@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
    font-family: 'OPTICalculator';
    src: url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.eot');
    src: url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.eot?#iefix')
            format('embedded-opentype'),
        url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.woff2')
            format('woff2'),
        url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.woff')
            format('woff'),
        url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.ttf')
            format('truetype'),
        url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.svg#OPTICalculator')
            format('svg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #40bfc1;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'title pomodoro-clock .';
    place-content: center;
    height: 100vh;
}

#title {
    grid-area: title;
    align-self: center;
    justify-self: right;
    text-align: end;
    font-size: 30px;
    color: #40bfc1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2),
        -1px -1px 2px rgba(255, 255, 255, 0.2);
    margin-right: 2em;
}

.container {
    grid-area: pomodoro-clock;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings {
    background-color: #f5f0e3;
    height: 250px;
    width: 280px;
    padding-top: 1.2em;
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-row-gap: 1em;
    grid-template-areas:
        'settings-break'
        'settings-session';
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

#minus,
#plus {
    font-size: 1.5em;
}

#minus {
    color: #ff6f5e;
    padding: 0 0.5em;
}

#plus {
    color: #21bf73;
    padding: 0 0.5em;
}

/* BREAK SETTINGS SECTION */
#settings-break {
    grid-area: settings-break;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'break-label break-label break-label'
        'break-decrement break-length break-increment';
    align-items: center;
    color: #40bfc1;
}

#break-label {
    font-size: 1.2em;
    grid-area: break-label;
}

#break-length {
    grid-area: break-length;
}

#break-decrement {
    grid-area: break-decrement;
    justify-self: flex-end;
}

#break-increment {
    grid-area: break-increment;
    justify-self: flex-start;
}

/* SESSION SETTINGS SECTION */

#settings-session {
    grid-area: settings-session;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'session-label session-label session-label'
        'session-decrement session-length session-increment';
    justify-items: center;
    align-items: center;
    color: #40bfc1;
}

#session-label {
    font-size: 1.2em;
    grid-area: session-label;
}
#session-length {
    /* font-family: 'OPTICalculator', sans-serif; */
    grid-area: session-length;
}
#session-decrement {
    grid-area: session-decrement;
    justify-self: flex-end;
}
#session-increment {
    grid-area: session-increment;
    justify-self: flex-start;
}

/* COMMON */
h1 {
    font-size: 1.5em;
    font-weight: 100;
}

#break-length,
#session-length {
    font-size: 2em;
}

/* TIMER SECTION */
.timer {
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas:
        '.'
        'countdown-clock'
        'buttons';
    margin-top: -30px;
    height: 240px;
    width: 240px;
    background-color: #ff6f5e;
    border-radius: 50%;
    color: white;
    box-shadow: 2px 4px 10px 5px rgba(0, 0, 0, 0.1);
}

#countdown-clock {
    grid-area: countdown-clock;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#time-left {
    font-family: 'OPTICalculator', sans-serif;
    font-size: 3.5em;
}

/* BUTTONS */

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

#buttons {
    grid-area: buttons;
    margin-top: 10px;
}

#reset,
#start_stop {
    color: white;
    font-size: 1em;
    padding: 0 10px;
    opacity: 0.8;
}
