@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');

@font-face {
    font-family: 'OPTICalculator';
    src: url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.eot');
    src: url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.eot?#iefix')
            format('embedded-opentype'),
        url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.woff2')
            format('woff2'),
        url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.woff')
            format('woff'),
        url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.ttf')
            format('truetype'),
        url('//db.onlinewebfonts.com/t/a4e40941cd04772dbe49aa5790ad5905.svg#OPTICalculator')
            format('svg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-family: 'Roboto', sans-serif;
    background-color: #40bfc1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #f5f0e3;
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        'settings-break'
        'settings-session'
        'buttons';
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    /* box-shadow: 2px 2px 5px #7e7e7e, -2px 2px 5px #7e7e7e; */
    /* border: 2px solid black; */
}

.fa {
    font-size: 1.5em;
    color: #40bfc1;
    /* text-shadow: 1px 1px 2px #ccc; */
}

/* BREAK SETTINGS SECTION */
#settings-break {
    grid-area: settings-break;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'break-label break-label break-label'
        'break-decrement break-length break-increment';
    justify-items: center;
    align-items: center;
    color: #40bfc1;
}

#break-label {
    grid-area: break-label;
}
#break-length {
    font-family: 'OPTICalculator', sans-serif;
    grid-area: break-length;
}
#break-decrement {
    grid-area: break-decrement;
}
#break-increment {
    grid-area: break-increment;
}

/* SESSION SETTINGS SECTION */

#settings-session {
    grid-area: settings-session;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'session-label session-label session-label'
        'session-decrement session-length session-increment';
    justify-items: center;
    align-items: center;
    color: #40bfc1;
}

#session-label {
    grid-area: session-label;
}
#session-length {
    font-family: 'OPTICalculator', sans-serif;
    grid-area: session-length;
}
#session-decrement {
    grid-area: session-decrement;
}
#session-increment {
    grid-area: session-increment;
}

/* COMMON */
h1 {
    font-size: 1.5em;
    font-weight: 100;
}

#break-length,
#session-length {
    font-size: 2em;
}

/* TIMER SECTION */
#timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    height: 250px;
    width: 250px;
    background-color: #ff6f5e;
    border-radius: 50%;
    color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

#time-left {
    font-family: 'OPTICalculator', sans-serif;
    font-size: 3.5em;
}

/* BUTTONS */

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

#buttons {
    margin-top: 30px;
    /* display: flex;
    justify-content: space-around;
    align-items: flex-start; */
}

#reset,
#start_stop {
    grid-area: buttons;
    padding: 0 10px;
}
